$header__social-and-menu-wrap___bg: #2aa2d4;
$header__social-link___bg: #fff;
$header__social-link___color: #000;
$header__menu-link___color: #fff;
$header__logo-and-search-wrap___bg: #fff;
$header__logo-h1___color: #333;
$header__logo-text___color: #999;
$header__search-form-input___color: #fff;
$header__nav-list___bg: #2a2a2a;
$header__nav-link___before: #404040;
$carousel-main__caption___bg: #151515;
$carousel-main__indicators-button___bg: #fff;
$carousel-main__title___color: #fff;
$carousel-main__text___color: #fff;
$carousel-main__control-icon___bg: #151515;
$carousel-main__control-icon___color: #666;