.footer-info__contact-us-textarea {
    border: 0;
    margin-top: 10px;
    resize: none;
    max-width: 90%;
}

@media (min-width: 480px) {
    .footer-info__contact-us-textarea {
        max-width: auto;
    }
}