.to-top__text {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    color: $to-top__text___color;
    bottom: 16px;
    position: relative;
}