.carousel-main__control-icon {
    background-color: $carousel-main__control-icon___bg;
    border-radius: 50%;
    fill: $carousel-main__control-icon___color;
    border: 3px solid $carousel-main__control-icon___color;
    padding: 30px;
}
